node-red-flows.json
[{"id":"db33f397.8168e","type":"tab","label":"RESTful API","disabled":false,"info":""},{"id":"e88f92a0.157fa","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"Mean All Nodes","query":"SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"temp\"),mean(\"hum\") FROM \"Airly\" WHERE time >= now() - 1h GROUP BY time(3600s);SELECT mean(\"pm25\"),mean(\"temp\"),mean(\"hum\") FROM \"Purpleair\" WHERE time >= now() - 1h GROUP BY time(3600s);SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"temp\"),mean(\"hum\") FROM \"SenseBox8\" WHERE time >= now() - 1h GROUP BY time(3600s);SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"pm1\"),mean(\"co\"),mean(\"o3\"),mean(\"no2\"),mean(\"temp\"),mean(\"hum\") FROM \"Kastom18\" WHERE time >= now() - 1h GROUP BY time(3600s);SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"pm1\"),mean(\"temp\"),mean(\"hum\") FROM \"AirVisual_whkxwsh\" WHERE time >= now() - 1h GROUP BY time(3600s);SELECT mean(\"O3\"),mean(\"NO2\"),mean(\"TC\"),mean(\"HUM\") FROM \"Libelium\" WHERE time >= now() - 1h GROUP BY time(3600s);SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"temperature\"),mean(\"humidity\") FROM \"airquality\" WHERE time >= now() - 1h GROUP BY time(3600s)","rawOutput":false,"precision":"","retentionPolicy":"","x":600,"y":880,"wires":[["473dfbff.0e5cb4"]]},{"id":"473dfbff.0e5cb4","type":"function","z":"db33f397.8168e","name":"function","func":"rest={};\nAirly={};\nPurpleAir={};\nSenseBox8={};\nKastom18={};\nAirVisual={};\nLibelium={};\nHackair={};\nmean={};\n\nmean.pm25=0\nmean.pm10=0\nmean.pm1=0\nmean.temp=0\nmean.hum=0\nmean.no2=0\nmean.o3=0\nmean.co=0\n\ncnt25=0;\ncnt10=0;\ncnt1=0\ncntno2=0\ncnto3=0\ncnttemp=0;\ncnthum=0;\ncntco=0\n\n//-----------------------------------------//\n\nif (msg.payload[0].length===0){\n    Airly.Status=\"Error: Airly is probably down\"\n} \nif (msg.payload[0].length>=1){\n//    Airly.Time=msg.payload[0][1].time\n    Airly.PM25=msg.payload[0][1].mean\n    Airly.pm10=msg.payload[0][1].mean_1\n    Airly.temp=msg.payload[0][1].mean_2\n    Airly.hum=msg.payload[0][1].mean_3\n\n    mean.pm25=mean.pm25 + msg.payload[0][1].mean\n    mean.pm10=mean.pm10 + msg.payload[0][1].mean_1\n    mean.temp=mean.temp + msg.payload[0][1].mean_2\n    mean.hum=mean.hum + msg.payload[0][1].mean_3\n    \n    cnt25=cnt25 + 1 \n    cnt10=cnt10 + 1\n    cnttemp=cnttemp + 1\n    cnthum=cnthum + 1\n}\n\n//-----------------------------------//\n\nif (msg.payload[1].length===0){\n    PurpleAir.Status=\"Error: PurpleAir is probably down\"\n} \nif (msg.payload[1].length>=1){\n //   PurpleAir.Time=msg.payload[1][1].time\n    PurpleAir.PM25=msg.payload[1][1].mean\n    PurpleAir.Temp=msg.payload[1][1].mean_1\n    PurpleAir.Hum=msg.payload[1][1].mean_2\n //   mean.PM25=msg.payload[1][1].mean\n    \n    mean.pm25=mean.pm25  + msg.payload[1][1].mean\n    mean.temp=mean.temp + msg.payload[1][1].mean_1\n    mean.hum = mean.hum + msg.payload[1][1].mean_2\n    \n    cnt25=cnt25+1\n    cnttemp=cnttemp + 1\n    cnthum=cnthum+1\n}\n\n//------------------------------------------//\n\nif (msg.payload[2].length===0){\n    SenseBox8.Status=\"Error: SenseBox8 is probably down\"\n} \nif (msg.payload[2].length>=1){\n//    SenseBox8.Time=msg.payload[2][1].time\n    SenseBox8.PM25=msg.payload[2][1].mean\n    SenseBox8.PM10=msg.payload[2][1].mean_1\n    SenseBox8.Temp=msg.payload[2][1].mean_2\n    SenseBox8.Hum=msg.payload[2][1].mean_3\n    \n //   mean.PM25=msg.payload[2][1].mean\n    \n    mean.pm25=mean.pm25 + msg.payload[2][1].mean\n    mean.pm10=mean.pm10 + msg.payload[2][1].mean_1\n    mean.temp=mean.temp + msg.payload[2][1].mean_2\n    mean.hum=mean.hum + msg.payload[2][1].mean_3\n    \n    cnt25=cnt25+1\n    cnt10=cnt10+1\n    cnttemp=cnttemp + 1\n    cnthum=cnthum+1\n}\n\n//-------------------------------------------//\n\nif (msg.payload[3].length===0){\n    Kastom18.Status=\"Error: Kastom18 is probably down\"\n} \nif (msg.payload[3].length>=1){\n//    Kastom18.time=msg.payload[3][1].time\n    Kastom18.PM25=msg.payload[3][1].mean\n    Kastom18.PM10=msg.payload[3][1].mean_1\n    Kastom18.PM1=msg.payload[3][1].mean_2\n    Kastom18.CO=msg.payload[3][1].mean_3\n    Kastom18.O3=msg.payload[3][1].mean_4\n    Kastom18.NO2=msg.payload[3][1].mean_5\n    Kastom18.Temp=msg.payload[3][1].mean_6\n    Kastom18.Hum=msg.payload[3][1].mean_7\n//    mean.PM25=msg.payload[3][1].mean\n\n    mean.pm25=mean.pm25 + msg.payload[3][1].mean\n    mean.pm10=mean.pm10 + msg.payload[3][1].mean_1\n    mean.pm1=mean.pm1+msg.payload[3][1].mean_2\n    mean.co=mean.co+msg.payload[3][1].mean_3\n    mean.o3=mean.o3+msg.payload[3][1].mean_4\n    mean.no2=mean.no2+msg.payload[3][1].mean_5\n    mean.temp=mean.temp + msg.payload[3][1].mean_6\n    mean.hum=mean.hum +msg.payload[3][1].mean_7\n    cnt25=cnt25+1\n    cnt10=cnt10+1\n    cnttemp=cnttemp + 1\n    cnthum=cnthum+1\n    cnt1=cnt1+1\n    cntco=cntco+1\n    cnto3=cnto3+1\n    cntno2=cntno2+1\n    \n}\n\n//-------------------------------------------//\n\nif (msg.payload[4].length===0){\n    AirVisual.Status=\"Error: AirVisual is probably down\"\n} \nif (msg.payload[4].length>=1){\n//    AirVisual.Time=msg.payload[4][1].time\n    AirVisual.PM25=msg.payload[4][1].mean\n    AirVisual.PM10=msg.payload[4][1].mean_1\n    AirVisual.PM1=msg.payload[4][1].mean_2\n    AirVisual.Temp=msg.payload[4][1].mean_3\n    AirVisual.Hum=msg.payload[4][1].mean_4\n //   mean.PM25=msg.payload[4][1].mean\n \n    mean.pm25=mean.pm25 + msg.payload[4][1].mean\n    mean.pm10=mean.pm10 + msg.payload[4][1].mean_1\n    mean.pm1=mean.pm1+msg.payload[4][1].mean_2\n    mean.temp=mean.temp + msg.payload[4][1].mean_3\n    mean.hum=mean.hum +msg.payload[4][1].mean_4\n    \n    cnt25=cnt25+1\n    cnt10=cnt10+1\n    cnttemp=cnttemp + 1\n    cnthum=cnthum+1\n    cnt1=cnt1+1\n}\n\n//--------------------------------------------//\n\nif (msg.payload[5].length===0){\n    Libelium.Status=\"Error Libelium is probably down\"\n} \nif (msg.payload[5].length>=1){\n//    Libelium.Time=msg.payload[5][1].time\n    Libelium.O3=msg.payload[5][1].mean\n    Libelium.NO2=msg.payload[5][1].mean_1\n    Libelium.Temp=msg.payload[5][1].mean_2\n    Libelium.Hum=msg.payload[5][1].mean_3\n    \n    mean.o3=mean.o3 + msg.payload[5][1].mean\n    mean.no2=mean.no2 + msg.payload[5][1].mean_1\n    mean.temp=mean.temp + msg.payload[5][1].mean_2\n    mean.hum=mean.hum + msg.payload[5][1].mean_3\n    \n    cnto3=cnto3+1\n    cntno2=cntno2+1\n    cnttemp=cnttemp + 1\n    cnthum=cnthum+1\n}\n\n//---------------------------------------------//\n\nif (msg.payload[6].length===0){\n    Hackair.Status=\"Error Hackair is probably down\"\n} \nif (msg.payload[6].length>=1){\n    Hackair.Time=msg.payload[6][1].time\n    Hackair.PM25=msg.payload[6][1].mean\n    Hackair.PM10=msg.payload[6][1].mean_1\n    Hackair.Temp=msg.payload[6][1].mean_2\n    Hackair.Hum=msg.payload[6][1].mean_3\n    \n    \n    mean.pm25=mean.pm25 + msg.payload[6][1].mean\n    mean.pm10=mean.pm10 + msg.payload[6][1].mean_1\n    mean.temp=mean.temp + msg.payload[6][1].mean_2\n    mean.hum=mean.hum + msg.payload[6][1].mean_3\n    \n    cnt25=cnt25 + 1\n    cnt10=cnt10 + 1\n    cnttemp=cnttemp + 1\n    cnthum=cnthum+1\n}\n\n//---------------------------------------------//\n\nmean.pm25=mean.pm25/cnt25\nmean.pm10=mean.pm10/cnt10\nmean.pm1=mean.pm1/cnt1\nmean.co=mean.co/cntco\nmean.o3=mean.o3/cnto3\nmean.no2=mean.no2/cntno2\nmean.temp=mean.temp/cnttemp\nmean.hum=mean.hum/cnthum\n\nrest.Time=msg.payload[0][1].time\nrest.Airly=Airly\nrest.PurpleAir=PurpleAir\nrest.SenseBox8=SenseBox8\nrest.Kastom18=Kastom18\nrest.AirVisual=AirVisual\nrest.Libelium=Libelium\nrest.Hackair=Hackair\nmsg.payload=mean\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":880,"wires":[["896214f.3fa99e8"]]},{"id":"896214f.3fa99e8","type":"influxdb out","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"mean","measurement":"mean","precision":"","retentionPolicy":"","x":930,"y":880,"wires":[]},{"id":"4e64b204.503a0c","type":"inject","z":"db33f397.8168e","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":"","x":410,"y":880,"wires":[["e88f92a0.157fa"]]},{"id":"d606bf22.12174","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"Airly","query":"SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"temp\"),mean(\"hum\") FROM \"Airly\" WHERE time >= now() - 1h GROUP BY time(3600s) ","rawOutput":false,"precision":"","retentionPolicy":"","x":590,"y":120,"wires":[["b7bc5fbb.aad84"]]},{"id":"12b35f16.8f8901","type":"http in","z":"db33f397.8168e","name":"","url":"/rest","method":"get","upload":false,"swaggerDoc":"","x":120,"y":440,"wires":[["ad30735c.d3ae9","e9f9aef.5afa05"]]},{"id":"dec16235.0aff5","type":"json","z":"db33f397.8168e","name":"","property":"payload","action":"","pretty":false,"x":1190,"y":260,"wires":[["b4cc42f1.c7677"]]},{"id":"b4cc42f1.c7677","type":"http response","z":"db33f397.8168e","name":"Response","statusCode":"","headers":{},"x":1460,"y":460,"wires":[]},{"id":"b7bc5fbb.aad84","type":"function","z":"db33f397.8168e","name":"function","func":"rest={};\nif (msg.payload.length===0){\n    rest.Status=\"Error: Airly is probably down\"\n} \nif (msg.payload.length>=1){\n    rest.Time=msg.payload[1].time\n    rest.pm25=msg.payload[1].mean\n    rest.pm10=msg.payload[1].mean_1\n    rest.temp=msg.payload[1].mean_2\n    rest.hum=msg.payload[1].mean_3\n}\nmsg.payload=rest\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":120,"wires":[["dec16235.0aff5"]]},{"id":"ad30735c.d3ae9","type":"switch","z":"db33f397.8168e","name":"Node current data","property":"payload.node","propertyType":"msg","rules":[{"t":"eq","v":"Airly","vt":"str"},{"t":"eq","v":"PurpleAir","vt":"str"},{"t":"eq","v":"SenseBox8","vt":"str"},{"t":"eq","v":"Kastom18","vt":"str"},{"t":"eq","v":"AirVisual","vt":"str"},{"t":"eq","v":"Libelium","vt":"str"},{"t":"eq","v":"Hackair","vt":"str"},{"t":"eq","v":"MeanAll","vt":"str"},{"t":"eq","v":"All","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":330,"y":280,"wires":[["d606bf22.12174"],["56d1e899.64c038"],["6af8a674.1eac68"],["7bb78897.c24988"],["6f3059b3.78f778"],["6ee6b976.187ad8"],["470bdb82.8bcea4"],["a1a3cdec.8d00c"],["21778113.0c94ae"]]},{"id":"56d1e899.64c038","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"PurpleAir","query":"SELECT mean(\"pm25\"),mean(\"temp\"),mean(\"hum\") FROM \"Purpleair\" WHERE time >= now() - 1h GROUP BY time(3600s) ","rawOutput":false,"precision":"","retentionPolicy":"","x":600,"y":160,"wires":[["5edb5fd.12b9fa"]]},{"id":"5edb5fd.12b9fa","type":"function","z":"db33f397.8168e","name":"function","func":"rest={};\nif (msg.payload.length===0){\n    rest.Status=\"Error: PurpleAir is probably down\"\n} \nif (msg.payload.length>=1){\n    rest.Time=msg.payload[1].time\n    rest.PM25=msg.payload[1].mean\n    rest.Temp=msg.payload[1].mean_1\n    rest.Hum=msg.payload[1].mean_2\n}\nmsg.payload=rest\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":160,"wires":[["dec16235.0aff5"]]},{"id":"6af8a674.1eac68","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"SenseBox8","query":"SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"temp\"),mean(\"hum\") FROM \"SenseBox8\" WHERE time >= now() - 1h GROUP BY time(3600s) ","rawOutput":false,"precision":"","retentionPolicy":"","x":610,"y":200,"wires":[["5ad0366c.2f54a8"]]},{"id":"5ad0366c.2f54a8","type":"function","z":"db33f397.8168e","name":"function","func":"rest={};\nif (msg.payload.length===0){\n    rest.Status=\"Error: SenseBox8 is probably down\"\n} \nif (msg.payload.length>=1){\n    rest.Time=msg.payload[1].time\n    rest.PM25=msg.payload[1].mean\n    rest.PM10=msg.payload[1].mean_1\n    rest.Temp=msg.payload[1].mean_2\n    rest.Hum=msg.payload[1].mean_3\n}\nmsg.payload=rest\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":200,"wires":[["dec16235.0aff5"]]},{"id":"7bb78897.c24988","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"Kastom18","query":"SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"pm1\"),mean(\"co\"),mean(\"o3\"),mean(\"no2\"),mean(\"temp\"),mean(\"hum\") FROM \"Kastom18\" WHERE time >= now() - 1h GROUP BY time(3600s) ","rawOutput":false,"precision":"","retentionPolicy":"","x":600,"y":240,"wires":[["cdf399d9.5a7b78"]]},{"id":"cdf399d9.5a7b78","type":"function","z":"db33f397.8168e","name":"function","func":"rest={};\nif (msg.payload.length===0){\n    rest.Status=\"Error: Kastom18 is probably down\"\n} \nif (msg.payload.length>=1){\n    rest.time=msg.payload[1].time\n    rest.PM25=msg.payload[1].mean\n    rest.PM10=msg.payload[1].mean_1\n    rest.PM1=msg.payload[1].mean_2\n    rest.CO=msg.payload[1].mean_3\n    rest.O3=msg.payload[1].mean_4\n    rest.NO2=msg.payload[1].mean_5\n    rest.Temp=msg.payload[1].mean_6\n    rest.Hum=msg.payload[1].mean_7\n}\nmsg.payload=rest\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":240,"wires":[["dec16235.0aff5"]]},{"id":"6f3059b3.78f778","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"AirVisual","query":"SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"pm1\"),mean(\"temp\"),mean(\"hum\") FROM \"AirVisual_whkxwsh\" WHERE time >= now() - 1h GROUP BY time(3600s) ","rawOutput":false,"precision":"","retentionPolicy":"","x":600,"y":280,"wires":[["bb153a33.f24108"]]},{"id":"bb153a33.f24108","type":"function","z":"db33f397.8168e","name":"function","func":"rest={};\nif (msg.payload.length===0){\n    rest.Status=\"Error: AirVisual is probably down\"\n} \nif (msg.payload.length>=1){\n    rest.Time=msg.payload[1].time\n    rest.PM25=msg.payload[1].mean\n    rest.PM10=msg.payload[1].mean_1\n    rest.PM1=msg.payload[1].mean_2\n    rest.Temp=msg.payload[1].mean_3\n    rest.Hum=msg.payload[1].mean_4\n}\nmsg.payload=rest\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":280,"wires":[["dec16235.0aff5"]]},{"id":"6ee6b976.187ad8","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"Libelium","query":"SELECT mean(\"O3\"),mean(\"NO2\"),mean(\"TC\"),mean(\"HUM\") FROM \"Libelium\" WHERE time >= now() - 1h GROUP BY time(3600s)","rawOutput":false,"precision":"","retentionPolicy":"","x":600,"y":320,"wires":[["e9044c7a.06476"]]},{"id":"e9044c7a.06476","type":"function","z":"db33f397.8168e","name":"function","func":"rest={};\nif (msg.payload.length===0){\n    rest.Status=\"Error Libelium is probably down\"\n} \nif (msg.payload.length>=1){\n    rest.Time=msg.payload[1].time\n    rest.O3=msg.payload[1].mean\n    rest.NO2=msg.payload[1].mean_1\n    rest.Temp=msg.payload[1].mean_2\n    rest.Hum=msg.payload[1].mean_3\n    \n}\nmsg.payload=rest\nreturn msg;\n","outputs":1,"noerr":0,"x":800,"y":320,"wires":[["dec16235.0aff5"]]},{"id":"470bdb82.8bcea4","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"Hackair","query":"SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"temperature\"),mean(\"humidity\") FROM \"airquality\" WHERE time >= now() - 1h GROUP BY time(3600s)","rawOutput":false,"precision":"","retentionPolicy":"","x":600,"y":360,"wires":[["ef6b0882.da25c8"]]},{"id":"ef6b0882.da25c8","type":"function","z":"db33f397.8168e","name":"function","func":"rest={};\nif (msg.payload.length===0){\n    rest.Status=\"Error Hackair is probably down\"\n} \nif (msg.payload.length>=1){\n    rest.Time=msg.payload[1].time\n    rest.PM25=msg.payload[1].mean\n    rest.PM10=msg.payload[1].mean_1\n    rest.Temp=msg.payload[1].mean_2\n    rest.Hum=msg.payload[1].mean_3\n    \n}\nmsg.payload=rest\nreturn msg;\n","outputs":1,"noerr":0,"x":800,"y":360,"wires":[["dec16235.0aff5"]]},{"id":"21778113.0c94ae","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"All nodes","query":"SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"temp\"),mean(\"hum\") FROM \"Airly\" WHERE time >= now() - 1h GROUP BY time(3600s);SELECT mean(\"pm25\"),mean(\"temp\"),mean(\"hum\") FROM \"Purpleair\" WHERE time >= now() - 1h GROUP BY time(3600s);SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"temp\"),mean(\"hum\") FROM \"SenseBox8\" WHERE time >= now() - 1h GROUP BY time(3600s);SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"pm1\"),mean(\"co\"),mean(\"o3\"),mean(\"no2\"),mean(\"temp\"),mean(\"hum\") FROM \"Kastom18\" WHERE time >= now() - 1h GROUP BY time(3600s);SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"pm1\"),mean(\"temp\"),mean(\"hum\") FROM \"AirVisual_whkxwsh\" WHERE time >= now() - 1h GROUP BY time(3600s);SELECT mean(\"O3\"),mean(\"NO2\"),mean(\"TC\"),mean(\"HUM\") FROM \"Libelium\" WHERE time >= now() - 1h GROUP BY time(3600s);SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"temperature\"),mean(\"humidity\") FROM \"airquality\" WHERE time >= now() - 1h GROUP BY time(3600s)","rawOutput":false,"precision":"","retentionPolicy":"","x":600,"y":440,"wires":[["76c33572.48f48c"]]},{"id":"76c33572.48f48c","type":"function","z":"db33f397.8168e","name":"function","func":"rest={};\nAirly={};\nPurpleAir={};\nSenseBox8={};\nKastom18={};\nAirVisual={};\nLibelium={};\nHackair={};\n\n//-----------------------------------------//\n\nif (msg.payload[0].length===0){\n    Airly.Status=\"Error: Airly is probably down\"\n} \nif (msg.payload[0].length>=1){\n//    Airly.Time=msg.payload[0][1].time\n    Airly.PM25=msg.payload[0][1].mean\n    Airly.PM10=msg.payload[0][1].mean_1\n    Airly.tTmp=msg.payload[0][1].mean_2\n    Airly.Hum=msg.payload[0][1].mean_3\n}\n\n//-----------------------------------//\n\nif (msg.payload[1].length===0){\n    PurpleAir.Status=\"Error: PurpleAir is probably down\"\n} \nif (msg.payload[1].length>=1){\n //   PurpleAir.Time=msg.payload[1][1].time\n    PurpleAir.PM25=msg.payload[1][1].mean\n    PurpleAir.Temp=msg.payload[1][1].mean_1\n    PurpleAir.Hum=msg.payload[1][1].mean_2\n}\n\n//------------------------------------------//\n\nif (msg.payload[2].length===0){\n    SenseBox8.Status=\"Error: SenseBox8 is probably down\"\n} \nif (msg.payload[2].length>=1){\n//    SenseBox8.Time=msg.payload[2][1].time\n    SenseBox8.PM25=msg.payload[2][1].mean\n    SenseBox8.PM10=msg.payload[2][1].mean_1\n    SenseBox8.Temp=msg.payload[2][1].mean_2\n    SenseBox8.Hum=msg.payload[2][1].mean_3\n}\n\n//-------------------------------------------//\n\nif (msg.payload[3].length===0){\n    Kastom18.Status=\"Error: Kastom18 is probably down\"\n} \nif (msg.payload[3].length>=1){\n//    Kastom18.time=msg.payload[3][1].time\n    Kastom18.PM25=msg.payload[3][1].mean\n    Kastom18.PM10=msg.payload[3][1].mean_1\n    Kastom18.PM1=msg.payload[3][1].mean_2\n    Kastom18.CO=msg.payload[3][1].mean_3\n    Kastom18.O3=msg.payload[3][1].mean_4\n    Kastom18.NO2=msg.payload[3][1].mean_5\n    Kastom18.Temp=msg.payload[3][1].mean_6\n    Kastom18.Hum=msg.payload[3][1].mean_7\n}\n\n//-------------------------------------------//\n\nif (msg.payload[4].length===0){\n    AirVisual.Status=\"Error: AirVisual is probably down\"\n} \nif (msg.payload[4].length>=1){\n//    AirVisual.Time=msg.payload[4][1].time\n    AirVisual.PM25=msg.payload[4][1].mean\n    AirVisual.PM10=msg.payload[4][1].mean_1\n    AirVisual.PM1=msg.payload[4][1].mean_2\n    AirVisual.Temp=msg.payload[4][1].mean_3\n    AirVisual.Hum=msg.payload[4][1].mean_4\n}\n\n//--------------------------------------------//\n\nif (msg.payload[5].length===0){\n    Libelium.Status=\"Error Libelium is probably down\"\n} \nif (msg.payload[5].length>=1){\n//    Libelium.Time=msg.payload[5][1].time\n    Libelium.O3=msg.payload[5][1].mean\n    Libelium.NO2=msg.payload[5][1].mean_1\n    Libelium.Temp=msg.payload[5][1].mean_2\n    Libelium.Hum=msg.payload[5][1].mean_3\n    \n}\n\n//---------------------------------------------//\n\nif (msg.payload[6].length===0){\n    Hackair.Status=\"Error Hackair is probably down\"\n} \nif (msg.payload[6].length>=1){\n    Hackair.Time=msg.payload[6][1].time\n    Hackair.PM25=msg.payload[6][1].mean\n    Hackair.PM10=msg.payload[6][1].mean_1\n    Hackair.Temp=msg.payload[6][1].mean_2\n    Hackair.Hum=msg.payload[6][1].mean_3\n    \n}\n\n//---------------------------------------------//\n\nrest.Time=msg.payload[0][1].time\nrest.Airly=Airly\nrest.PurpleAir=PurpleAir\nrest.SenseBox8=SenseBox8\nrest.Kastom18=Kastom18\nrest.AirVisual=AirVisual\nrest.Libelium=Libelium\nrest.Hackair=Hackair\nmsg.payload=rest\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":440,"wires":[["dec16235.0aff5"]]},{"id":"a1a3cdec.8d00c","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"Mean All nodes","query":"SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"pm1\"),mean(\"o3\"), mean(\"no2\"), mean(\"co\"),mean(\"temp\"),mean(\"hum\") FROM \"mean\"  WHERE time >= now() - 1h GROUP BY time(3600s) ","rawOutput":false,"precision":"","retentionPolicy":"","x":620,"y":400,"wires":[["562e2db1.00a5d4"]]},{"id":"eaef627b.34f39","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"Airly 24h","query":"SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"temp\"),mean(\"hum\") FROM \"Airly\" WHERE time >= now() - 23h GROUP BY time(3600s) ","rawOutput":false,"precision":"","retentionPolicy":"","x":600,"y":520,"wires":[["cd908f45.df945"]]},{"id":"cd908f45.df945","type":"json","z":"db33f397.8168e","name":"","property":"payload","action":"","pretty":false,"x":1190,"y":620,"wires":[["b4cc42f1.c7677"]]},{"id":"e9f9aef.5afa05","type":"switch","z":"db33f397.8168e","name":"History data","property":"payload.history","propertyType":"msg","rules":[{"t":"eq","v":"Airly","vt":"str"},{"t":"eq","v":"PurpleAir","vt":"str"},{"t":"eq","v":"SenseBox8","vt":"str"},{"t":"eq","v":"Kastom18","vt":"str"},{"t":"eq","v":"AirVisual","vt":"str"},{"t":"eq","v":"Libelium","vt":"str"},{"t":"eq","v":"Hackair","vt":"str"},{"t":"eq","v":"All","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":310,"y":620,"wires":[["eaef627b.34f39"],["d02c5226.761fc"],["ff526e43.c4415"],["66a37094.54137"],["ef0fe2ee.0e51d"],["4655a5a0.ac906c"],["2dc1970a.0947e8"],[]]},{"id":"d02c5226.761fc","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"PurpleAir","query":"SELECT mean(\"pm25\"),mean(\"temp\"),mean(\"hum\") FROM \"Purpleair\" WHERE time >= now() - 23h GROUP BY time(3600s) ","rawOutput":false,"precision":"","retentionPolicy":"","x":600,"y":560,"wires":[["cd908f45.df945"]]},{"id":"ff526e43.c4415","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"SenseBox8","query":"SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"temp\"),mean(\"hum\") FROM \"SenseBox8\" WHERE time >= now() - 23h GROUP BY time(3600s) ","rawOutput":false,"precision":"","retentionPolicy":"","x":610,"y":600,"wires":[["cd908f45.df945"]]},{"id":"66a37094.54137","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"Kastom18","query":"SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"pm1\"),mean(\"co\"),mean(\"o3\"),mean(\"no2\"),mean(\"temp\"),mean(\"hum\") FROM \"Kastom18\" WHERE time >= now() - 23h GROUP BY time(3600s) ","rawOutput":false,"precision":"","retentionPolicy":"","x":600,"y":640,"wires":[["cd908f45.df945"]]},{"id":"ef0fe2ee.0e51d","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"AirVisual","query":"SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"pm1\"),mean(\"temp\"),mean(\"hum\") FROM \"AirVisual_whkxwsh\" WHERE time >= now() - 23h GROUP BY time(3600s) ","rawOutput":false,"precision":"","retentionPolicy":"","x":600,"y":680,"wires":[["cd908f45.df945"]]},{"id":"4655a5a0.ac906c","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"Libelium","query":"SELECT mean(\"O3\"),mean(\"NO2\"),mean(\"TC\"),mean(\"HUM\") FROM \"Libelium\" WHERE time >= now() - 23h GROUP BY time(3600s)","rawOutput":false,"precision":"","retentionPolicy":"","x":600,"y":720,"wires":[["cd908f45.df945"]]},{"id":"2dc1970a.0947e8","type":"influxdb in","z":"db33f397.8168e","influxdb":"768e51e4.d9235","name":"Hackair","query":"SELECT mean(\"pm25\"),mean(\"pm10\"),mean(\"temperature\"),mean(\"humidity\") FROM \"airquality\" WHERE time >= now() - 23h GROUP BY time(3600s)","rawOutput":false,"precision":"","retentionPolicy":"","x":600,"y":760,"wires":[["cd908f45.df945"]]},{"id":"562e2db1.00a5d4","type":"function","z":"db33f397.8168e","name":"function","func":"rest={};\nif (msg.payload.length===0){\n    rest.Status=\"Error: Something went wrong\"\n} \nif (msg.payload.length>=1){\n    rest.time=msg.payload[1].time\n    rest.PM25=msg.payload[1].mean\n    rest.PM10=msg.payload[1].mean_1\n    rest.PM1=msg.payload[1].mean_2\n    rest.CO=msg.payload[1].mean_5\n    rest.O3=msg.payload[1].mean_3\n    rest.NO2=msg.payload[1].mean_4\n    rest.Temp=msg.payload[1].mean_6\n    rest.Hum=msg.payload[1].mean_7\n}\nmsg.payload=rest\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":400,"wires":[["dec16235.0aff5"]]},{"id":"768e51e4.d9235","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"RoofSensors","name":"","usetls":false,"tls":""}]